body {

        text-align: justify;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 20px;

        background-image: url("img/BergRose.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        height: 100vh;
        margin: 0;
        }
        p {
            text-align: justify;
        }

        button {
            width: 180px;
            background-color : #ac9be0;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-top: 20px;
            
        }
        
        
        .tituloInicial {
            text-align: center;
        }

        .tituloInicial button {
            margin-top: 5px;
            background: green;
            width: 100px;
            height: 30px;
        }

        .exercise {
            margin-bottom: 30px;

        }
        .exercise img {
            width: 300px;
            height: auto;
            display: block;
            margin: 10px 0;

        }